@use 'src/styles/vars';

.projectsContainer {
  background-color: transparent;

  .projects__background {
    background-color: vars.$projectsBackground;
    height: 320vh;
    min-height: 1800px;
    width: 320vw;
    min-width: 2200px;
    position: fixed;
    top: -120vh;
    left: -120vw;
    z-index: -11;
    overflow: hidden;
  }
  
  .projects__container {
    margin-top: calc(80px + 2rem);
    color: vars.$primary-color;
    display: flex;
    background-color: transparent;
    width: 120vw;
    height: calc(100vh - 112px);

    .projects__content {
      width: 100%;

      .content__pictures {
        display: flex;
        flex-wrap: nowrap;
        overflow: hidden;
        cursor: grab;
        width: fit-content;
        height: calc(100% - 50px);

        .content__picture {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin: 0 (vars.$gutter / 2);
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          z-index: -1;
          width: 22.66vw;
          min-width: 300px;
          max-width: 640px;

          .content__title {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
          }

          &--curtain {
            position: fixed;
            background-color: vars.$secondary-color;
            opacity: 0.7;
            z-index: 0;
            width: 22.66vw;
            min-width: 300px;
            max-width: 640px;
            height: 100%;
            max-height: fit-content;
          }

          &--overprint {
            position: absolute;
            background-color: #CCC5B7EF;
            color: vars.$secondary-color;
            z-index: 2;
            display: flex;
            flex-direction: column;
            justify-content: center;
            list-style: inside;
            text-align: left;
            padding: vars.$gutter * 2;
            line-height: 1.3;
            width: 22.66vw;
            min-width: 300px;
            max-width: 640px;
            height: 100%;
            overflow-y: scroll;

            .content__description {
              margin-top: auto;

              .content__subtitle {
                font-size: clamp(16px, 1.3vw, 20px);
                font-weight: 700;
                text-transform: uppercase;
              }
      
              .content__context {
                font-size: clamp(12px, 1.3vw, 16px);
                font-weight: 300;
  
                .content__link {
                  display: block;
                  text-decoration: underline;
                }
              }
  
              .content__text {
                font-size: clamp(12px, 1.3vw, 16px);
                list-style: inside;
              }
            }
          }

          .content__button {
            margin-top: 1rem;
            z-index: 1;
            cursor: pointer;
            width: vars.$gutter * 1.5;
            height: vars.$gutter * 1.5;

            &--close {
              align-self: center;
              margin-top: auto;
              font-size: 5em;
            }
          }
        }

        .text__medium {
          z-index: 1;
          font-size: clamp(30px, 5vw, 56px);
          font-family: vars.$secondary-font;
          font-weight: 200;
        }
        
      }

      .content__slider {
        width: 70%;
        position: fixed;
        left: 15%;
      }
    }
  
    .text__small {
      font-size: clamp(14px, 3.5vw, 18px);
      margin-top: vars.$gutter * 2;
      font-weight: 100;
    } 
  
    .text__large {
      font-size: clamp(40px, 6vw, 95px);
      font-weight: 700;
      -webkit-text-stroke: 1px vars.$primary-color;
      color: transparent;
      text-align: left;
      margin-left: vars.$gutter * 2;
      width: 20%;
    }
  }
}

@media screen and (max-width: 768px) {
  .projectsContainer {
    
    .projects__container {
      flex-direction: column;
  
      .projects__content {
        height: calc(100% - 80px);
        padding: vars.$gutter 0 0 vars.$gutter;

        .content__pictures {
          
          .content__picture {

            &--overprint {
              padding: vars.$gutter;
            }
          }
        }
      }
    
      .text__large {
        width: 100vw;
        text-align: center;
        margin: 0;
      }
    }
  }
}
