.projectsContainer {
  background-color: transparent;

  .projects__background {
    background-color: #8CA0CF;
    height: 320vh;
    min-height: 1800px;
    width: 320vw;
    min-width: 2200px;
    position: fixed;
    top: -120vh;
    left: -120vw;
    z-index: -11;
    overflow: hidden;
  }
  
  .projects__container {
    margin-top: calc(80px + 2rem);
    color: #e4e0d9;
    display: flex;
    background-color: transparent;
    width: 100%;

    .projects__content {

      .content__pictures {
        display: flex;
        flex-wrap: nowrap;
        overflow: hidden;
        cursor: grab;

        .content__picture {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          width: 600px;
          height: 780px;
          margin: 0 2rem;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;

          &--curtain {
            position: fixed;
            width: 600px;
            height: 780px;
            background-color: #000;
            opacity: 0.7;
            z-index: 0;
          }
        }

        .text__medium {
          z-index: 1;
          font-size: clamp(16px, 6vw, 48px);
        }

        .content__text {
          z-index: 1;
        }
      }

      .content__slider {
        width: 60%;
      }
    }
  
    .text__small {
      font-size: clamp(12px, 3.5vw, 17px);
      margin-top: 4rem;
      font-weight: 100;
    } 
  
    .text__large {
      font-size: clamp(40px, 6vw, 95px);
      font-weight: 700;
      -webkit-text-stroke: 1px #e4e0d9;
      color: transparent;
      text-align: left;
      margin-left: 4rem;
    }
  }
}