.menu {
  display: flex;
  justify-content: flex-end;
  background-color: transparent;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9;

  .navbar {
    display: flex;
    padding: 1.5rem;
    justify-content: space-between;
    text-transform: uppercase;

    &__item {
      font-size: clamp(8px, 1.3vw, 14px);
      margin: 1rem;
      .disabled {
        pointer-events: none;

      }
      
      a {

        &:hover, &.active {
          color: #5F758E;
        }
      }
    }
  }
}
