@use 'src/styles/vars';

.menu {
  display: flex;
  justify-content: flex-end;
  background-color: transparent;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9;

  .navbar {
    display: flex;
    padding: 1.5rem;
    margin-top: 1rem;
    justify-content: space-between;
    text-transform: uppercase;
    color: vars.$secondary-color;

    &__item {
      font-size: clamp(12px, 1.3vw, 16px);
      font-weight: 100;

      a {
        padding: (vars.$gutter / 4) 0;
        margin: 0 (vars.$gutter / 2);
        background-image: linear-gradient(vars.$secondary-color, vars.$secondary-color);
        background-size: 0% 0.1em;
        background-position-x: 100%;
        background-position-y: 100%;
        background-repeat: no-repeat;
        transition: background-size 0.2s ease-in-out;

        &:hover, &.active {
          background-size: 100% 0.1em;
          background-position-x: 0%;
        }
      }

    }
  }
}
