$primary-color: #E4E0D9;
$secondary-color: #000;
$third-color: #5F758E;

$secondary-font: 'Roboto Slab', serif;

$homeBackground: #E4E0D9;
$aboutBackground: #4F6492;
$experiencesBackground: #877DA3;
$skillsBackground: #5E827D;
$projectsBackground: #8CA0CF;
$contactBackground: #E99072;

$gutter: 2rem;
