.aboutContainer {
  background-color: transparent;

  .about__background {
    background-color: #3B4B6D;
    height: 300vh;
    width: 300vw;
    position: absolute;
    top: -120vh;
    left: -120vw;
    z-index: -11;
    overflow: hidden;
  }
  
  .about__picture {
    height: 37%;
    width: 25%;
    border-radius: 50%;
    background: url(../../../public/IMG_20180501_112141.jpg);
    background-size: cover;
    background-position: center;
    position: fixed;
    left: 50px;
    top: 150px;
  }
  
  .about__text {
    height: fit-content;
    padding: 8rem 5rem;
    max-width: 80%;
    color: #e4e0d9;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 2.5em;
    margin-left: 20%;
    background-color: transparent;
    width: 100%;
  
    .text__small {
      font-size: clamp(16px, 1.3vw, 21px);
      margin-top: 4rem;
      font-weight: 100;
    } 
  
    .text__large {
      font-size: clamp(40px, 6vw, 120px);
      font-weight: 400;
      margin: 1rem 0;
    }
  
    .text__medium {
      font-size: clamp(40px, 4vw, 64px);
      margin: 2rem 0 1rem;
      font-weight: 200;
    }
  
    .text__icon {
      margin-right: 2rem;
      height: fit-content;
      cursor: pointer;
  
      &:hover {
        color: #5F758E;
      }
    }
  }
}

