@use 'src/styles/vars';

.aboutContainer {
  background-color: transparent;
  min-width: 100vw;

  .about__background {
    background-color: vars.$aboutBackground;
    height: 320vh;
    min-height: 1800px;
    width: 320vw;
    min-width: 2200px;
    position: fixed;
    top: -120vh;
    left: -120vw;
    z-index: -11;
    overflow: hidden;
  }
  
  .about__picture {
    width: 30%;
    min-width: 150px;
    max-width: 450px;
    border-radius: 50%;
    background: url(../../assets/IMG_20180501_112141.jpg);
    background-size: cover;
    background-position: center;
    position: fixed;
    left: 50px;
    top: 150px;

    &::after {
      content: '';
      display: block;
      padding-bottom: 100%;
    }
  }
  
  .about__text {
    height: 100vh;
    padding: (vars.$gutter * 4) (vars.$gutter * 2);
    width: 80%;
    max-width: 1200px;
    min-width: 300px;
    color: vars.$primary-color;
    display: flex;
    align-items: flex-start;
    line-height: 1.5;
    margin-left: 20%;
    background-color: transparent;

    .text__small {
      font-size: clamp(12px, 3.5vw, 17px);
      margin-top: (vars.$gutter * 2);
      font-weight: 100;

      .text__link {
        font-weight: 400;
        text-decoration: underline;
        color: vars.$secondary-color;
      }
    } 
  
    .text__large {
      font-size: clamp(40px, 6vw, 95px);
      font-weight: 700;
      -webkit-text-stroke: 1px vars.$primary-color;
      color: transparent;
    }
  }
}

@media screen and (max-width: 768px) {

  .aboutContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: calc(80px + 2rem);

    .about__picture {
      position: initial;
    }

    .about__text {
      height: fit-content;
      margin: 0 auto;
      width: 100%;
      padding: vars.$gutter;
      justify-content: flex-start;

      .text__small {
        margin-top: vars.$gutter;
      } 

      .text__large {
        margin: 0 0 (vars.$gutter / 2);
      }
    }  
  }

  
}
