.contactContainer {
  background-color: transparent;
  min-width: 100vw;

  .contact__background {
    background-color: #E99072;
    height: 320vh;
    min-height: 1800px;
    width: 320vw;
    min-width: 2200px;
    position: fixed;
    top: -120vh;
    left: -120vw;
    z-index: -11;
    overflow: hidden;
  }
  
  .contact__container {
    margin-top: calc(80px + 4rem);
    color: #e4e0d9;
    background-color: transparent;

    .text__large {
      font-size: clamp(40px, 6vw, 95px);
      font-weight: 700;
      -webkit-text-stroke: 1px #e4e0d9;
      color: transparent;
      text-align: center;
    }

    .contact__content {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .contact__social {
        margin: 4rem auto;
        display: flex;
        justify-content: space-evenly;
        width: 30%;
        min-width: 300px;
        color: #e4e0d9;

        .social__category {
          font-size: clamp(16px, 2vw, 32px);
          display: flex;
          flex-direction: column;
          align-items: center;
          font-family: 'Roboto Slab', serif;

          .social__name {
            margin-top: 1rem;
            overflow: hidden;
          }
        }
      }

      .contact__picture {
        width: 20%;
        min-width: 250px;
        max-width: 400px;
        border-radius: 50%;
        background: url(../../assets/IMG_20180501_112141.jpg);
        background-size: cover;
        background-position: center;

        &::after {
          content: '';
          display: block;
          padding-bottom: 100%;
        }
      }
    }
        
  } 
}
